- flash.each do |type, message|
  - next unless ['notice', 'alert', 'error'].include? type.to_s
  %div{class: "fixed bottom-4 right-4 p-4 max-w-xs rounded-lg shadow-lg #{style_for_flash(type)}"}
    %p= message
