%div.min-h-screen.p-6
  %div.max-w-7xl.mx-auto
    %div.grid.grid-cols-1.md:grid-cols-2.lg:grid-cols-3.gap-6.mt-20
      %div.bg-white.shadow-xl.rounded-lg.p-6
        %h3.text-lg.font-semibold.text-gray-800 Total Users
        %p.text-3xl.font-bold.text-indigo-600 120

      %div.bg-white.shadow-xl.rounded-lg.p-6
        %h3.text-lg.font-semibold.text-gray-800 Total Notes
        %p.text-3xl.font-bold.text-indigo-600 350

      %div.bg-white.shadow-xl.rounded-lg.p-6
        %h3.text-lg.font-semibold.text-gray-800 Average Notes per User
        %p.text-3xl.font-bold.text-indigo-600 2.9

      %div.bg-white.shadow-xl.rounded-lg.p-6
        %h3.text-lg.font-semibold.text-gray-800 Average Words per Note
        %p.text-3xl.font-bold.text-indigo-600 150

      %div.bg-white.shadow-xl.rounded-lg.p-6
        %h3.text-lg.font-semibold.text-gray-800 User with Most Notes
        %p.text-3xl.font-bold.text-indigo-600 John Doe

      %div.bg-white.shadow-xl.rounded-lg.p-6
        %h3.text-lg.font-semibold.text-gray-800 User with Longest Note
        %p.text-3xl.font-bold.text-indigo-600 Jane Smith
